nav{
    
    font-size: large;
    background-color: salmon;
}

h1{
    text-align: center;
    position: relative;
    width: 100%;
    padding: 10px;
    top: 20px;
    left: -10px;
    background-color: beige;
}

body{
    background: linear-gradient(lightblue,aquamarine);
}

.text-p{
    position: relative;
    max-width: 600px;
    left: 445px;
    text-align: center;
    font-size: larger;
    background-color: peachpuff ;
    top: 25px;
    box-shadow: 1px 1px 1px 1px;
   
}

.text-section{
    h2{
        background-color: rgb(255, 255, 255);
        position: relative;
        text-align: center;
        top: 200px;
        left: 0px;
    }

    .text-h2{
        background-color: lightcyan;
        text-align: left;
        position: relative;
        top: 250px;
        left: px;
    }

    p{
    position: relative;
    text-align: left;
    line-height: 1.5;
    top: 250px;
    left: 10px;
    max-width: 700px;
    font-size: large;
    background-color: lightblue;
    box-shadow: 1px 1px 1px 1px;
    }

    img{
        position: relative;
        width: 30%;
        top: 5px;
        left: 250px;
        right: 0px;
    }
}

.section2{
    p{
        position: relative;
        text-align: left;
        line-height: 1.5;
        bottom: 228px;
        left: 784px;
        max-width: 700px;
        font-size: large;
        background-color: lightblue;
        box-shadow: 1px 1px 1px 1px;
        }

        h2{
            position: relative;
            text-align: right;
            bottom: 250px;
            left: 0px;
            background-color: beige;
        }

        img{
            position: relative;
            width: 30%;
            top: 5px;
            left: 250px;
            right: 0px;
        }
}